@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.top {
    text-align: center;
    margin: 20px 0px;
    padding: 20px 20px;
}

.top h1 {
    color: rgb(44, 168, 100);
}

.top p {
    color: rgb(73, 148, 110);
}

.container {
    float: left;
    width: 25%;
    height: 80%;
    padding: 50px;
    color: rgb(73, 148, 110);
}

.sec1:after {
    content: "";
    display: table;
    clear: both;
}

.container h2 {
    text-align: center;
    color: rgb(44, 168, 100);
}

.container p {
    margin: 5px 0px;
}

.container th {
    border: 1px solid black;
}

.container td {
    border: 1px solid black;
    text-align: center;
}

.container table {
    border-collapse: collapse;
    width: 100%;
}

.container li {
    margin: 0px 30px;
}

.container dl {
    margin: 0px 30px;
}

#form {
    margin: 20px 0px;
    padding: 20px 50px;
    color: rgb(73, 148, 110);
}

#form h2 {
    text-align: center;
    color: rgb(44, 168, 100);
}

form{
    /* margin: 0px 200px; */
    width: 70%;
    margin: auto;
    color: rgb(73, 148, 110);
}


form input[type="text"],
form input[type="password"],
form input[type="url"],
form input[type="tel"],
form input[type="email"] {
    width: 100%;
    margin: 10px;
    padding: 10px;
    color: rgb(73, 148, 110);
}

form input[type="date"]{
    margin: 0px 10px;
    color: rgb(73, 148, 110);
}

form input[type="checkbox"]{
    margin: 0px 10px;
    padding: 0px 20px;
}

form input[type="submit"],
form input[type="reset"]{
    width: 100px;
    height: 30px;
    color: rgb(73, 148, 110);
    background-color: transparent;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover{
    background-color:rgb(225, 236, 210);
    cursor: pointer;
}

#btn{
    text-align: center;
}